html {
  /* background: rgba(0, 0, 0, 1); */
  background: #f0f2f5;
  /* scroll-behavior: smooth; */
}

:root[data-theme="dark"] {
  --border-color: rgba(247, 247, 247, 0.25);
  --bg-color: #12171c;
  --bg-2-color: #0c1117;
  --invert-bg-color: #f0f2f5;
  --grey-color: #242424;
  --grey-color-hover: #3b3b3b;
  --text-color: #f0f2f5;
  --grey-text: #ADADAD;
  --accent-color: #02a6bf;
  --accent-text: #02a6bf;
}

:root[data-theme="light"] {
  --border-color: #e0e0e0;
  --border-color: #d7d8d6;
  --bg-color: #f0f2f5;
  --bg-2-color: #e6e9ed;
  --invert-bg-color: #12171c;
  --text-color: #12171c;
  --grey-text: #666666;
  --grey-color: #f7f7f7;
  --accent-color: #00cc00;
  --accent-color: #02a6bf;
  --accent-text: #02a6bf;
  /* Greens */
  --green-color: #00cc00;
  --green-dark-color: #66ff66;
}

* {
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

:root {
  --bg-main: #0D0F1A;           /* Deep Indigo Black - main background */
  --bg-surface: #161925;        /* Very dark bluish-gray - surfaces */
  
  --neutral-muted: #232634;     /* Low-contrast card backgrounds or muted containers */
  --highlight: #302A47;         /* Soft glow base for hovers/shadows */
  
  --text-primary: #ECEFF4;      /* Soft Mist White - easy on eyes */
  --text-secondary: #A0A5B7;    /* Cool Neutral Gray */
  --text-tertiary: #6C7084;     /* Subtle text for secondary info */
  
  --primary: #9A7DFF;           /* Soft Violet - CTA, links, accents */
  --accent: #FF77B2;            /* Warm Orchid Pink - subtle highlights */
  --support: #4DC9FF;           /* Cool Electric Blue - sparingly for icons or tags */
  --error: #FF4F5A;             /* Consistent red for errors */









  /* typograhy */
  --font-12: 0.80vw;
  --font-14: 0.93vw;
  --font-16: 1.06vw;
  --font-18: 1.19vw;
  --font-20: 1.32vw;
  --font-24: 1.59vw;
  --font-30: 1.98vw;
  --font-32: 2.1164021164021163vw;
  --font-40: 2.65vw;
  --font-45: 2.97vw;
  --font-48: 3.19vw;
  --font-50: 3.32vw;
  --font-64: 4.25vw;
  --font-70: 4.63vw;

  /* px to vw */
  --1px: 0.066vw;
  --2px: 0.13vw;
  --4px: 0.26vw;
  --5px: 0.32vw;
  --6px: 0.40vw;
  --8px: 0.53vw;
  --10px: 0.66vw;
  --12px: 0.80vw;
  --13px: 0.86vw;
  --14px: 0.93vw;
  --16px: 1.06vw;
  --18px: 1.19vw;
  --20px: 1.32vw;
  --22px: 1.46vw;
  --24px: 1.59vw;
  --26px: 1.73vw;
  --28px: 1.73vw;
  --30px: 1.98vw;
  --32px: 2.1164021164021163vw;
  --36px: 2.25vw;
  --40px: 2.65vw;
  --48px: 3.19vw;
  --50px: 3.32vw;
  --52px: 3.46vw;
  --56px: 3.79vw;
  --60px: 3.97vw;
  --64px: 4.25vw;
  --70px: 4.63vw;
  --80px: 5.30vw;
  --82px: 5.53vw;
  --100px: 6.63vw;
  --150px: 8.33vw;
  --180px: 9.33vw;
  --200px: 13.29vw;
  --300px: 19.841269841269842vw;
  --350px: 22.50vw;
  --400px: 26.67vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-tt-travels);
  font-family: var(--font-museo-moderno);
  background: var(--bg-main);
  color: var(--text-color);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 100vh;
}

/* body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
} */

main {
  padding-top: calc(var(--50px) + var(--20px));
}

h1 {
  font-family: var(--font-tt-travels);
  font-family: var(--font-museo-moderno);
  font-size: var(--font-40);
  font-size: var(--font-50);
  font-weight: 700;
  letter-spacing: -0.132vw;
  line-height: 110%;
  color: var(--text-primary);
}

h2 {
  /* font-family: var(--font-nunito-sans); */
  font-size: var(--font-32);
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.066vw;
  color: var(--primary);
}

h3 {
  font-family: var(--font-tt-travels);
  font-size: var(--font-32);
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.033vw;
  text-transform: capitalize;
  color: var(--text-primary)
}

h4 {
  /* font-family: var(--font-roboto); */
  font-size: var(--font-20);
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.013vw;
  line-height: 145%;
}

p {
  font-family: var(--font-lexend-giga);
  font-size: var(--font-24);
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.0165vw;
  line-height: 160%;
  color: var(--text-body);
}

li {
  /* font-family: var(--font-nunito-sans); */
  font-size: var(--font-16);
  font-weight: 600;
  list-style: none;
  letter-spacing: -0.0165vw;
}

a {
  font-family: var(--font-tt-travels);
  color: var(--text-color);
  text-decoration: none;
  /* font-family: var(--font-nunito-sans); */
  letter-spacing: -0.013vw;
}

button {
  font-size: var(--font-14);
  font-weight: 700;
  /* font-family: var(--font-nunito-sans); */
  color: var(--text-color);
  letter-spacing: 0.026vw;
}

button span {
  /* font-family: var(--font-nunito-sans); */
  font-weight: 600;
}

.borderColor {
  border-color: rgba(var(--border-color), var(--border-opacity));
}

.quote {
  font-family: 'Georgia', serif;
  font-size: var(--font-64);
  color: var(--accent-color);
  font-weight: bolder;
}

.buttonCta {
  font-family: var(--font-lexend-giga);
  font-size: var(--font-16);
}

/* .pin-spacer .headerWrapperShifted {
  margin-bottom: 0 !important;
  inset: 0 !important;
  top: 2vw !important;
} */


@media only screen and (max-width: 767px) {
  html {
    /* background: rgba(0, 0, 0, 1); */
    background: #f0f2f5;
    scroll-behavior: smooth;
  }

  :root {

    --padding-horizontal: 4vw;
    --padding-80: 21.33vw;
    --padding-60: 16vw;


    --font-14: 3.73vw;
    --font-16: 4.27vw;
    --font-18: 4.80vw;
    --font-20: 5.33vw;
    --font-22: 5.87vw;
    --font-24: 6.40vw;
    --font-26: 6.93vw;
    --font-30: 8.00vw;
    --font-40: 10.67vw;
    --font-50: 13.33vw;
    --font-60: 16.00vw;
    --font-64: 17.07vw;


    --1px: 0.27vw;
    --2px: 0.53vw;
    --3px: 0.80vw;
    --4px: 1.07vw;
    --5px: 1.33vw;
    --6px: 1.60vw;
    --8px: 2.13vw;
    --10px: 2.67vw;
    --12px: 3.20vw;
    --13px: 3.47vw;
    --14px: 3.73vw;
    --15px: 4.00vw;
    --16px: 4.27vw;
    --18px: 4.80vw;
    --20px: 5.33vw;
    --22px: 5.87vw;
    --24px: 6.40vw;
    --26px: 6.93vw;
    --28px: 7.20vw;
    --30px: 8.00vw;
    --32px: 8.53vw;
    --40px: 10.67vw;
    --50px: 13.33vw;
    --56px: 15.00vw;
    --60px: 16.00vw;
    --64px: 17.07vw;
    --70px: 18.67vw;
    --80px: 21.33vw;
    --100px: 26.67vw;
    --200px: 42.67vw;
    --250px: 50.00vw;
    --300px: 58.33vw;
    --350px: 66.67vw;
    --400px: 73.33vw;
    --450px: 80.00vw;

    --icon-size: 4.40vw;
  }

  h1 {
    font-size: var(--font-30);
    font-weight: 700;
    letter-spacing: -0.347vw;
    line-height: 120%;
  }

  h2 {
    font-size: var(--font-26);
    letter-spacing: -0.213vw;
    color: var(--accent-color);
  }

  h3 {
    font-size: var(--font-20);
    letter-spacing: -0.107vw;
  }

  h4 {
    font-size: var(--font-16);
    font-weight: 400;
    letter-spacing: 0.053vw;
  }

  p {
    font-size: var(--font-16);
    font-weight: 400;
    letter-spacing: 0.064vw;
    line-height: 150%;
  }

  li {
    letter-spacing: -0.053vw;
  }

  a {
    letter-spacing: -0.053vw;
  }

  button {
    font-size: var(--font-14);
    letter-spacing: 0.107vw;
  }

  .quote {
    font-size: var(--font-64);
    color: var(--accent-color);
    font-weight: bolder;
  }
}


































/* Add this new class */
.page-wrapper {
  animation: fadeIn 0.6s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1vw);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes crossfadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
} */


/* @keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
} */